In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df = pd.read_csv("datasets/amazon.csv")
df

         stars                                               text
0            4  The resto owns up to its name with a wine list...
1            2  The only reason this isn't a 5 star rating is ...
2            3  5 star service but the food was drowning in sa...
3            1  Stale donuts again. I think I will just skip D...
4            4  Super fun, with a few cons:\n\n-parking is A B...
...        ...                                                ...
1569260      2  The food is decent but the service is awful an...
1569261      5  We had the best time here! Food was great! Ser...
1569262      4  Probably the prettiest nail salon I've ever be...
1569263      3  This food is great and service is great! Came ...
1569264      4  Very frustrated with Herbal Nails this time.  ...

[1569265 rows x 2 columns]

In [23]:
text_train, text_test, y_train, y_test = train_test_split(
    df.text, df.stars, test_size=0.1, stratify=df.stars
)

In [24]:
y_test.value_counts()

5    31386
1    31386
4    31385
3    31385
2    31385
Name: stars, dtype: int64