In [21]:
from itertools import islice

import xml.etree.ElementTree as ET

import pandas as pd
from lxml import etree

In [23]:
%%time

df = pd.DataFrame()

for _, e in islice(etree.iterparse("datasets/FullOct2007.xml", tag="document"), 1_000_00):
    category_element = e.find("maincat")
    if category_element is not None:
        text = ""
        subject_element = e.find("subject")
        if subject_element:
            text += subject_element.text
        content_element = e.find("content")
        if content_element:
            text += content_element.text
        best_answer_element = e.find("bestanswer")
        if best_answer_element:
            text += best_answer_element.text
        text = text.replace("<br />", " ")
        category = category_element.text
        df = df.append(
            pd.Series({"text": text, "category": category}), ignore_index=True
        )
df

/home/ceccoemi/Development/pyvenvs/venv37/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The behavior of this method will change in future versions. Use specific 'len(elem)' or 'elem is not None' test instead.

/home/ceccoemi/Development/pyvenvs/venv37/lib/python3.7/site-packages/ipykernel_launcher.py:11: FutureWarning: The behavior of this method will change in future versions. Use specific 'len(elem)' or 'elem is not None' test instead.
  # This is added back by InteractiveShellApp.init_path()
/home/ceccoemi/Development/pyvenvs/venv37/lib/python3.7/site-packages/ipykernel_launcher.py:14: FutureWarning: The behavior of this method will change in future versions. Use specific 'len(elem)' or 'elem is not None' test instead.

CPU times: user 7min 58s, sys: 26.5 s, total: 8min 25s
Wall time: 8min 25s

                    category text
0      Education & Reference
1               Food & Drink
2                     Travel
3               Food & Drink
4      Cars & Transportation
...                      ...  ...
99906     Business & Finance
99907         Beauty & Style
99908        Yahoo! Products
99909  Education & Reference
99910  Entertainment & Music

[99911 rows x 2 columns]

In [27]:
for cat in df.category.value_counts()[:10].index:
    print(cat)

Business & Finance
Computers & Internet
Family & Relationships
Entertainment & Music
Health
Science & Mathematics
Education & Reference
Society & Culture
Politics & Government
Sports